# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter Notebook
*.ipynb

# VS Code settings
.vscode/


# Logs
*.log

# Environment variables
.env
*.env

# Other files to ignore
*.DS_Store
*.swp
*.tmp
*.bak
*.orig
*.pid
*.seed
*.pid.lock
*.lock